<div class='result_stdout'>
  <h3>StdOut</h3>
  <p>
    <%= result[:output] %>
  </p>
</div>
<div class='result_stderr'>
  <h3>StdErr</h3>
  <p>
    <%= result[:error] %>
  </p>
</div>
<%= (layout[:back_link].nil?) ? "" : "<a href='#{layout[:back_link]}'>back</a><br/>" %>
