<div class='result_stdout'>
  <!-- TODO nicer results -->
  <h3>StdOut</h3>
  <p style='white-space: pre-wrap;'><%= result[:output] %></p>
</div>
<div class='result_stderr'>
  <h3>StdErr</h3>
  <p style='white-space: pre-wrap;'><%= result[:error] %></p>
</div>
